div{
    
    position: relative;
    margin: 200px;
    margin-left: 400px;
    margin-right: 400px;
    background-color: rgb(245, 191, 121);
    display: inline-block;
    height: 350px;
    width: 450px;
    border: 20px;
    justify-content: center;
    border-radius: 15%;
}
body{
    background-color: rgb(252, 202, 174);
}
h2{
    margin-bottom: 40px;
    margin-left: 100px;
    font-family: 'Times New Roman', Times, serif;
}
button{
    background-color: rgb(134, 247, 120);
    margin-top: 20px;
    margin-left: 100px;
    border-radius: 10%;

}
input{
    border-radius: 14%;
}
label{
    font-family: 'Times New Roman', Times, serif;
   
}
